# Reddit API credentials

REDDIT_CLIENT_ID=YOUR_CLIENT_ID
REDDIT_SECRET=YOUR_SECRET_ID
REDDIT_USER_AGENT=YOUR_USER_AGENT
REDDIT_USERNAME=YOUR_REDDIT_USERNAME
REDDIT_PASSWORD=YOUR_REDDIT_PASSWORD
REDDIT_REDIRECT_URI=YOUR_REDIRECT_URI